{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock title %}
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color: white">
            {{form.hidden_tag()}}
            <img class="mb-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fen%2Fsearch%3Fq%3Dwebsite&psig=AOvVaw30di7MgDrPDlPpvPxGyp2R&ust=1634844772504000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNi7tsHd2fMCFQAAAAAdAAAAABAI" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            {{form.username.label()}}
            {{form.username(class="form-control",placeholder="User Name")}}
            {{form.email_address.label()}}
            {{form.email_address(class="form-control",placeholder="Email Address")}}
            {{form.password1.label()}}
            {{form.password1(class="form-control",placeholder="Password")}}
            {{form.password2.label()}}
            {{form.password2(class="form-control",placeholder="Confirm Password")}}
            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
             </div>
            {{form.submit(class="btn btn-lg btn-block btn-success")}}
        </form>
    </div>
</body>
{% endblock content %}